.page-container {
    position: relative;
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1124px;
    flex-direction: column;


  }

  .layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
}
  
  .page-contents{

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
  }
  
  